// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
//@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

// Group resources
@import './layouts/variables';
@import './layouts/theming';
@import './layouts/mixins';
@import "layouts/common";
@import "./layouts/pages";


// elements sass
@import 'layouts/base';
