// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "layouts/common";

.text-center {
    text-align: center;
}
.font-color-black {
    color: #000000;
}
.font-size-header-content {
    font-size: 2em;
}
.block-header-profile {
    //.text-center;
    //.font-color-black;
    //.font-size-header-content;
}
