.comp-user {
    .content {
        .container-fluid {
            .container {
                .block-header-profile {
                    text-align: center;
                    .header-item {
                        font-size: 2em;
                    }
                }
                .avatar-image-size-display {
                    max-width: 10em;
                    max-height: 10em;
                }
            }
        }
    }
}
