.comp-user {

    .content {
        .container-fluid {
            .container {
                .block-header-profile {
                    text-align: center;
                    .temp {
                        font-size: 2em;

                    }
                }
            }
        }
    }
}
